﻿@using BookStore.Models
@{
    ViewBag.Title = "Index";
    List<ShoppingCartItem> cartlist = new List<ShoppingCartItem>();
    cartlist = (List<ShoppingCartItem>)Session["cart"];
}

<h2>Index</h2>

<table class="table">
    <tr>
        <th>Name</th>
        <th>Price</th>

    </tr>
    @if (cartlist != null)
    {
        foreach (var item in cartlist)
        {
            <tr>
                <td>
                    @item.Book.Name
                </td>
                <td>
                    @item.Book.Price
                </td>

            </tr>
        }
    }

</table>
Total:
@if (cartlist != null) {

    Html.Display(cartlist[0].Amount.ToString());

}