﻿body {
    background:#F5F5F5;
}
.my-body {
    margin:10vh 7% 0 7%;
}

.navbar-brand {
    color:white;
    font-weight:bold;
}
.nav-item{
    margin:0,10px,0,10px;
}
.form-inline
{
    margin-left:10px;
}
.dropdown-menu{
    background-color:#212121;
    color:#fff;
}
.dropdown-item{
    color:#fff;
}

.my-c{
    height: 100vh;
    background: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding:50px;
}
.form-control{
    width: 400px !important;
}

